body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #f7f7fd;
}

:root {
  --blue-color-1: #FFFFFF;
}

.bg-blue-1 {
  background: var(--blue-color-1);
}
